<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Events</title>
	<link rel="stylesheet" href="../scss/events.css">
	<!--FONTS-->
		<link href="https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans&display=swap" rel="stylesheet">
	<!--END-->
</head>
<body>
	<nav class="navbar open-sans"><h1><a href="../index.html">GO BACK</a></h1></nav>
	<div id="container" class="container">
		<div class="header">
			<h1 class="open-sans">CYBER x SECURE</h1>
			<h2 class="open-sans">CLUB</h2>
			<h3 class="open-sans">EVENT TIMELINE</h3>
			<p class="open-sans">List of Past and Upcoming Events.</p>
		</div>
		<div id="timeline-container" class="timeline-container">
			<!--LOADING CONTENT HERE-->
		</div>
	</div>
	<div class="foot-div">
		<p class="open-sans">Copyright © 2022 Cyber-Security Club, Central Institute of Technology, Kokrajhar
		</p>
	</div>
	<script type="module" src="../js/events.js"></script>
</body>
</html>