<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gallery</title>
	<link rel="stylesheet" href="../scss/gallery.css">
	<!--FONTS-->
		<link href="https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans&display=swap" rel="stylesheet">
	<!--END-->
</head>
<body>
	<nav class="navbar open-sans"><h1><a href="/index.html">GO BACK</a></h1></nav>
	<div class="header">
			<h1 class="open-sans">CYBER x SECURE</h1>
			<h2 class="open-sans">GALLERY</h2>
			<p class="open-sans">IMAGES From Past Events.</p>
		</div>
	<div id="img-container" class="img-container">
			<div class="event-container">
				<h1>1st ORIENTATION.</h1>
				<section class="event-img">
				<img src="../images/gallery/event1/img (1).jpg" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event1/img (2).jpg" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event1/img (3).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event1/img (4).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event1/img (5).jpg" alt="event_images" height="100px" width="100px">
				</section>
			</div>
			<div class="event-container">
				<h1>AWARENESS TALK ON CYBER SECURITY & INTERNET SAFETY</h1>
				<section class="event-img">
				<img src="../images/gallery/event2/img (1).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event2/img (1).png" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event2/img (2).png" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event2/img (3).png" alt="event_images" height="100px" width="100px">
				</section>			
			</div>
			<div class="event-container">
				<h1>GETTING STARTED WITH CYBER SECURITY</h1>
				<section class="event-img">
				<img src="../images/gallery/event3/img.jpeg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event3/img.png" alt="event_images" height="100px" width="100px">
				</section>
			</div>
			<div class="event-container">
				<h1>INTERACTION WITH INDUSTRY EXPERT</h1>
				<section class="event-img">
				<img src="../images/gallery/event4/img (1).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event4/img (2).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event4/img (3).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event4/img (4).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event4/img (5).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event4/img (6).jpg" alt="event_images" height="100px" width="100px">
				</section>
			</div>
			<div class="event-container">
				<h1>INTERACTION WITH SP KOKRAJHAR</h1>
				<section class="event-img">
				<img src="../images/gallery/event5/img (1).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event5/img (2).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event5/img (3).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event5/img (4).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event5/img (5).jpg" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event5/img (6).jpg" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event5/img (7).jpg" alt="event_images" height="100px" width="100px">
				</section>
			</div>
			<div class="event-container">
				<h1>INTRODUCTION OF TECHNICAL CLUBS</h1>
				<section class="event-img">
				<img src="../images/gallery/event6/img (1).jpg" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event6/img (2).jpg" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event6/img (3).jpg" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event6/img (4).jpg" alt="event_images" height="100px" width="100px">
				</section>
			</div>
			<div class="event-container">
				<h1>TOOLS & TECHNIQUES USED IN CYBER SECURITY & ETHICAL HACKING</h1>
				<section class="event-img">
				<img src="../images/gallery/event7/img (1).jpeg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event7/img (1).png" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event7/img (2).jpeg" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event7/img (3).jpeg" alt="event_images" height="100px" width="100px">
				</section>
			</div>
			<div class="event-container">
				<h1>WEBINAR ON DEVELOPING EMPLOYABILITY SKILLS-CAREER OPTIONS IN ARMED/DEFENSE FORCES</h1>
				<section class="event-img">
				<img src="../images/gallery/event8/img (1).jpg" alt="event_images" height="100px" width="100px">			
				<img src="../images/gallery/event8/img (1).png" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event8/img (2).png" alt="event_images" height="100px" width="100px">		
				<img src="../images/gallery/event8/img (3).png" alt="event_images" height="100px" width="100px">
				</section>
			</div>
			<div class="view-image">
				<span>&times;</span>
				<img src="../images/gallery/event1/img (1).jpg" alt="event image">
			</div>
	</div>

	<div class="foot-div">
		<p class="open-sans">Copyright © 2022 Cyber-Security Club, Central Institute of Technology, Kokrajhar
		</p>
	</div>

	<script>
		document.querySelectorAll('.event-container img').forEach(image => {
			image.onclick = () =>{
				document.querySelector('.view-image').style.display= 'block';
				document.querySelector('.view-image img').src = image.getAttribute('src');
			}
		});
		document.querySelector('.view-image span').onclick = () => {
			document.querySelector('.view-image').style.display = 'none';
		}
	</script>
</body>
</html>